<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://autodeflatehub.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/42b625e9-b44d-4bf3-8cc3-bc8a30ea6740/resourceGroups/Devlab2-US-East/providers/Microsoft.Web/sites/AutoDeflateHub</ResourceId>
    <UserName>$AutoDeflateHub</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://autodeflatehub.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>